node_modules/
.next/
dist/
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage/
.vercel/
.npm-cache-final/
.npm-cache-fix/
.npm-cache-vendor/
.npm-cache/
.npm_cache/
.npm_cache/
.npx-cache/
build/
*.tsbuildinfo
.pnpm-store/
__styled_jsx__/
Library/
.nuxt/
